<div id="contain" class="container">
  <div>
    <h1> some nice text here</h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Trainers</h3>
    </div>
    <% @trainer.each do |trainer| %>
      <div class="col-md-4 col-sm-6 center">
        <div class="card" style="width: 20rem;">
          <div class="card-img-top image">
             <%= image_tag trainer.image.url(:medium) %>
         
          </div>
          
          <div class="card-block">
            <h4 class="card-title"><%= link_to(trainer.fullname, trainer_path(trainer))%></h4>
            <!-- <p class="card-text"><%= trainer.fitBio %></p> -->
            <p class="card-text"> <b>Age: </b><%= trainer.age %></p>
            <p class="card-text"><b>Height: </b> <%= trainer.height %></p>
            <p class="card-text"><b> Weight: </b> <%= trainer.weight %></p> 
            <%= link_to 'view profile', trainer_path(trainer), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <nav>
   <ul class="pagination">
     <%#= will_paginate @questions, class: "container-fluid" %>
   </ul>
 </nav>
</div>



