

<div class="container" id="contain">
  <div class="row" id="contain">
    <div class="col-md-6">
      <div class="card" style="width: 20rem;">
        <div class="card-img-top image">
           <%= image_tag @trainer.image.url(:large) %>
       
        </div>
      </div>
    </div>
    <div class="col-md-6">   
      <div class="card-block">
        <h4 class="card-title"><%= @trainer.fullname %></h4>
        <p class="card-text"><%= @trainer.fitBio %></p>
        <p class="card-text"><%= @trainer.age %></p>
        <p class="card-text"><%= @trainer.height %></p>
        <p class="card-text"><%= @trainer.weight %></p>
        <p class="card-text">Activity: I work out <%= @trainer.freqWorkOut %> days per week</p>
        <%if trainer_signed_in? && current_trainer.id == @trainer.id   %>
            <p><%= link_to 'Edit Profile', edit_trainer_registration_path %></p>
            <p><%= link_to "Logout", destroy_trainer_session_path, :method => :delete %></p>
          <% end %>
        <%= link_to 'Book appointment', new_appointment_path, class: "btn btn-primary" %> 
      </div>
    </div>
  </div>

  <% if trainer_signed_in? && current_trainer.id == @trainer.id %> 
    <div class="row">
      <div class="col-sm-12">
        <h3 class="divider-line pt-20">My appointments</h3>
        <% @trainer.appointments.each do |appointment| %>
          <div class="card">
            <div class="card-block">
              <p class="card-title">Title: <%= link_to appointment.location, appointment %></p>
              <p><%= appointment.app_date %></p> 
            </div>
          </div>
            
        <% end %>
      </div>
    </div>

  <% else %>
  <% end %>

</div>