<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-king"></span>
        
      </button>
    
      <a class="navbar-brand" href="/">Saiyan </a>
      
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-2">
      
      <ul class="nav navbar-nav menu">
        <% if !user_signed_in? && !trainer_signed_in? %>
          <li class="nav-menu"><%= link_to 'Log In', new_user_session_path %></li>
          <li class="nav-menu"><%= link_to 'Why chose Saiyan', features_howitworks_path %></li>
          <li class="nav-menu"><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end  %>
        <% if user_signed_in? && !trainer_signed_in? %>

          <li class="nav-menu"><%= link_to('Explore Trainers', trainer_index_path) %> </li>
          <li class="nav-menu"><%= link_to('Book appointment', new_appointment_path)%></li>
        
          <li class="nav-menu"><%= link_to(current_user.fullname, current_user) %></li>
        <% end %>
        <% if trainer_signed_in? %>
          <li class="nav-menu"><%= link_to('Explore Trainers', trainer_index_path) %> </li>

          <li class="nav-menu"><%= link_to(current_trainer.fullname, current_trainer) %></li>
        <% end %>       
      </ul>
    </div>  <!-- /.navbar-collapse -->
</nav><!-- /.navbar -->