<div class="container" id="contain">
  <div class="row">
    <div class="col-sm-4 text-center">
      
      <%=  image_tag @user.image.url(:medium) %>

     
    </div>
    <div class="col-sm-8">
      <div class="user_profile">
        <div class="row">

          <div class="col-md-12 ">
            <h2><%= @user.fullname %></h2>  
          </div>

          <div class="col-xs-6 col-sm-6 col-md-12 ">
            <h4>Height:</h4>
            <p><%= @user.height %></p> 
          </div>

          <div class="col-xs-6 col-sm-6 col-md-12 ">
            <h4>Weight: </h4>
            <p><%=  @user.weight %> lbs</p>
          </div>

          <div class="col-md-12 ">
            <h4>My Fitness Goal: </h4>
            <p> <%=  @user.fitGoal %></p> <br>
          </div>



          <div class="col-md-12 ">
            <%if user_signed_in? && current_user.id == @user.id   %>
              <p> <b><%= link_to 'Edit Profile', edit_user_registration_path %> |
              <%= link_to "Logout", destroy_user_session_path, :method => :delete %></b></p>
            <% end %>
          </div>
        </div>
        
      </div>
     
    </div>
  </div>

  <% if user_signed_in? && current_user.id == @user.id %> 
    <div class="row">
      
      <h3 class="app-history-title">My Appointments History</h3>
      <% @user.appointments.each do |appointment| %>
        <div class="col-xs-6 col-sm-3">
          <div class="app_history">
            <p> <b>Date:</b> <br><%= link_to appointment.app_date.to_time.strftime('%b %e %Y %l:%M %p'), appointment %></p>
            <p><b>Location:</b> <br><%= appointment.location %></p>
            <p><b>Trainer:</b> <br><%= appointment.trainer.fullname %></p>
          </div>
          <br>
        </div>
          
      <% end %>
    </div>
  <% end %>

</div>