<div class="container">
  <div class="row">
    <div class="col-md-12 app_form">
      <div class="">
        <%= form_for(appointment) do |f| %>
          <% if appointment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

              <ul>
              <% appointment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <form class="form-horizontal">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="form-group">
                  <label><%= f.label :Date, :class => "col-md-12 control-label" %><br /></label>

                  <%= f.datetime_select :app_date, {ampm: true, order: [:month, :day] }, { class: "form-control input-lg" } %> 
                </div>
              </div>
              
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="form-group">
                  <label><%= f.label :location, :class => "col-md-12 control-label" %><br /></label>
                  <%= f.text_field :location, autofocus: true, :class => 'form-control input-sm', :placeholder => "Blink fitness at ....." %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="form-group">
                  <label><%= f.label :trainer_id, :class => "col-md-4 control-label" %><br /></label>

                  <%= select("appointment", "trainer_id", Trainer.all.collect {|p| [ p.fullname, p.id ] }) %>
                </div>
              </div>
            </div>

            <!-- <div class="field">
              <%#= f.label :user_id %><br>
              <%#= select("appointment", "user_id", User.all.collect {|p| [ p.fullname, p.id ] }) %>
            </div> 
                , autofocus: true, :class => 'form-control input-md'


          -->
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                  <%= f.submit class: "btn btn-lg btn-primary col-sm-8 col-sm-offset-2 col-xs-12" %>
                </div>
              </div>
            </div>

            <!-- Used to create space for the bottom of the form -->
            <div class="row"> <!--  Change this with padding bottom -->
              <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                  
                </div>
              </div>
            </div>
            
          </form>

    

        <% end %>

      </div>
    </div>
  </div>
</div>

